<div class="row">

    <!-- Formulario -->
    <div class="col s12 m6 l6 center">
     
        <div class="card white">
            <div class="card-content">
              <span class="card-title">Registro</span>

              <form #userForm="ngForm">

                <div class="row">
                    <input type="hidden" name="_id" #_id="ngModel"
                    [(ngModel)]="userService.selectedUser._id">

                    <div class="input-field col s12">
                        <input type="text" name="name" #name="ngModel" id="name" 
                        [(ngModel)]="userService.selectedUser.name" placeholder="Ingrese nombre completo">
                        <label for="name">Nombre completo</label>
                    </div>

                    <div class="input-field col s12">
                        <input type="text" name="email" #email="ngModel" id="email" 
                        [(ngModel)]="userService.selectedUser.email" placeholder="Ingrese correo electronico">
                        <label for="email">Correo electronico</label>
                    </div>

                    <div class="input-field col s12">
                        <input type="password" name="password" #password="ngModel" id="password" 
                        [(ngModel)]="userService.selectedUser.password" placeholder="Ingrese contraseña">
                        <label for="password">Contraseña</label>
                    </div>

                    <div class="input-field col s12">
                        <input type="number" name="type" #type="ngModel" id="type" 
                        [(ngModel)]="userService.selectedUser.type" placeholder="Ingrese tipo de usuario">
                        <label for="type">Tipo de usuario</label>
                    </div>

                    <div class="input-field col s12">
                        <input type="number" name="points" #points="ngModel" id="points" 
                        [(ngModel)]="userService.selectedUser.points" placeholder="Ingrese puntos de usuario">
                        <label for="points">Puntos de usuario</label>
                    </div>

                </div>

              </form>
              
            </div>

            <div class="card-action">
              <div class="row">
                <div class="col s6">
                  <button (click)="resetForm(userForm)" style="width: 100%;" class="btn left light-blue darken-2 white-text">Resetear formulario</button>
                </div>
              <div class="col s6">
                <button (click)="addUser(userForm)" onclick="M.toast({html: 'Usuario Agregado'})" style="width: 100%;" class="btn left light-blue lighten-1 white-text">Guardar usuario</button>
                
              </div>
              </div>
            </div>
        </div>
    </div>

    <!-- Grafica -->
    <div class="col s12 m6 l6">
      <div class="card white">
        <div class="card-content">
          <div id="chartContainer" style="height: 378px; width: 100%;"></div>
        </div>
      </div>
    </div>    

    <!-- Tabla -->
    <div class="col s12 m6 l6">
      <div class="card white">
        <div class="card-content black-text">
          <span class="card-title" style="min-height: 2px;">Usuarios Agregados</span>
          <div class="input-field col s12">
            <i class="material-icons prefix">search</i>
            <input id="searchInput" type="text" (keyup)="getUsersByNameAndEmail()">
            <label for="searchInput" style="color: deepskyblue;">busca por nombre o correo</label>
          </div>
          <div class="col s12">
            <table style="color: deepskyblue; outline-style: auto;">
              <thead>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Contraseña</th>
                <th>Tipo de Usuario</th>
                <th>Puntos</th>
                <th>Operaciones</th>
              </thead>
              <tbody>
                <tr *ngFor="let users of userService.users">
                  <td>{{users.name}}</td>
                  <td>{{users.email}}</td>
                  <td>{{users.password}}</td>
                  <td *ngIf="users.type==1">{{'Administrador'}}</td>
                  <td *ngIf="users.type==2">{{'Operador'}}</td>
                  <td *ngIf="users.type==3">{{'Tecnico'}}</td>
                  <td *ngIf="users.type==4">{{'Cliente'}}</td>
                  <td *ngIf="users.type==5">{{'Guardia'}}</td>
                  <td>{{users.points}}</td>
                  <td>
                    <a href="#" style="margin-left: 10px; margin-right: 10px;" (click)="updateUser(users)"><i class="material-icons white-text"> editar </i></a>
                    <a href="#" style="margin-left: 10px; margin-right: 10px;" (click)="deleteUser(users._id)"><i class="material-icons white-text"> delete </i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          
        </div>
      </div>       
    </div>

    

</div>